.metadata/
.antlr-generator-3.2.0-patch.jar
de.acegen.ide/bin
de.acegen.ui/bin
artifacts.jar
content.jar
de.acegen.updatesite/features
de.acegen.updatesite/plugins
anfelisa.launch
Generate AceGen (ace) Language Infrastructure.launch
de.acegen/bin
*.xtendbin
*._trace
.idea/.idea.de.acegen.dir/.idea
.idea
logs.zip
