.metadata/
*._trace
*.xtendbin
*.class
com.anfelisa.ace/bin
com.anfelisa.ace.ide/bin
com.anfelisa.ace/bin
com.anfelisa.ace.ide/src-gen
com.anfelisa.ace.tests/src-gen
com.anfelisa.ace.ui.tests/src-gen
com.anfelisa.ace.ui/src-gen
com.anfelisa.ace/src-gen
com.anfelisa.ace.tests/xtend-gen
com.anfelisa.ace.ui/xtend-gen
com.anfelisa.ace/xtend-gen
Eclipse.app
ace-gen.app
com.anfelisa.ace.update.site/features
com.anfelisa.ace.update.site/plugins
artifacts.jar
content.jar
de.acegen.updatesite/features
de.acegen.updatesite/plugins
de.acegen/.launch
de.acegen/bin
.antlr-generator-3.2.0-patch.jar
de.acegen.ide/bin
acegen.app/Contents
.idea
Eclipse-DSL.app
Eclipse DSL NEW.app
